<div class="card">
  <h2 class="card-title text-xs-center">{{station.name}}</h2>
  <div class="card-block">
    {{audio-player-controls
      adjustVolume=(action 'adjustVolume')
      toggleMute=(action 'toggleMute')
      togglePlay=(action 'togglePlay')
      currentVolume=currentVolume
      isMuted=isMuted
      isPlaying=isPlaying
    }}
  </div>
  <div class="card-block station-details text-xs-center">
    <p class="card-text">{{station.description}}</p>
  </div>
</div>

<audio src="{{audioSource}}" volume={{currentVolume}} muted={{isMuted}}>
  Your browser does not support the <code>audio</code> element.
</audio>