<section class="station-details">
  <h4>{{station.name}}</h4>
</section>

<div class="card">
  <div class="card-img-top">
    <i class="fa fa-music fa-5x"></i>
  </div>
  {{audio-player-controls
    adjustVolume=(action 'adjustVolume')
    toggleMute=(action 'toggleMute')
    togglePlay=(action 'togglePlay')
    currentVolume=currentVolume
    isMuted=isMuted
    isPlaying=isPlaying
  }}
</div>

<audio src="{{audioSource}}" volume={{currentVolume}} muted={{isMuted}}>
  Your browser does not support the <code>audio</code> element.
</audio>