<div class="card">
  <div class="card-img-top">
    <i class="fa fa-music fa-5x"></i>
  </div>
  <div>
    <!-- Play/pause and volume controls -->
    {{audio-player-controls
      adjustVolume=(action 'adjustVolume')
      toggleMute=(action 'toggleMute')
      togglePlay=(action 'togglePlay')
      currentVolume=currentVolume
      isMuted=isMuted
      isPlaying=isPlaying
    }}
  </div>
</div>

<!-- Track list displays list of tracks or image. -->
{{audio-player-track-list
  updateTrackList=(action 'updateTrackList')
  trackList=trackList
}}

<!-- Progress for the current track -->
{{#if currentFileHasDuration}}
  <progress value="{{percentPlayed}}" max="100"></progress>
{{/if}}



<audio src="{{audioSource}}" autoplay
volume={{currentVolume}} muted={{isMuted}}>
  Your browser does not support the <code>audio</code> element.
</audio>