<div class="audio-player-play-toggle">
  <button type="button" class="control" {{action this.attrs.togglePlay}}>
    {{#if isPlaying}}
      <i class="fa fa-pause fa-5"></i>
    {{else}}
      <i class="fa fa-play fa-5"></i>
    {{/if}}
  </button>
</div>

<div class="audio-player-volume-controls">
  <button type="button" class="mute control" {{action this.attrs.toggleMute}}>
    {{#if isMuted}}
      <i class="fa fa-volume-off"></i>
    {{else}}
      <i class="fa fa-volume-up"></i>
    {{/if}}
  </button>
  <input
    type="range"
    min="0"
    max="1"
    name="volumeSlider"
    step="0.1"
    value="{{currentVolume}}"
    oninput={{action this.attrs.adjustVolume value="target.value"}}
  />
</div>