<form {{action 'noop' on='submit'}}>
  <fieldset class="form-group">
    <label for="searchStation" class="sr-only">Search for a station</label>
    {{input 
      type="text"
      class="form-control" 
      placeholder="Enter search term"
      value=searchTerm
      key-up="onSearch"
    }}
    {{#if remainingCharacters}}
      <small class="form-text text-muted">{{remainingCharacters}} characters remaining.</small>
    {{/if}}
  </fieldset>
</form>

<div class="results">
  {{#if isLoading}}
    <div class="loading">
      <i class="fa fa-refresh fa-spin fa-3 fa-fw"></i>
    </div>
  {{/if}}

  {{#each stationList as |station|}}
    <div class="media" {{action 'onAddStation' station}}>
      <div class="media-left">
        <a href="#">
          <div class="media-object">
            <i class="fa fa-2 fa-plus"></i>
          </div>
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">{{station.name}}</h4>
        <p>
          {{#if station.description}}
            {{station.description}}
          {{else}}
            No details.
          {{/if}}
        </p>
      </div>
    </div>
  {{/each}}

  {{#if canShowNoResultsMessage}}
    <p>No results matching {{searchTerm}} found.</p>
  {{/if}}
</div>