<div class="text-center">
  <div class="btn-group btn-group-sm switcher" role="group" aria-label="Switch Panels">
    <button type="button" class="btn {{unless showManualAdd 'btn-secondary' 'btn-primary'}}" {{action 'changePanel' 'manual'}}>Manual</button>
    <button type="button" class="btn {{if showManualAdd 'btn-secondary' 'btn-primary'}}" {{action 'changePanel' 'search'}}>Search</button>
  </div>
</div>

{{#if showManualAdd}}
  {{add-station addStation=(action 'addStation')}}
{{else}}
  {{search-station
    addStation=(action 'addStation')
    searchStation=(action 'searchStation')
  }}
{{/if}}