<div class="container">
  <div class="pv clearfix">
    <button type="button" class="sm-nav-toggle" onClick={{action "toggleNav"}} aria-expanded="{{if navOpen true false}}">
      <span class="sr-only">Toggle navigation</span>
      <span></span>
      <span></span>
      <span></span>
    </button>
    <div class="nav-controls {{if isHome 'hide' 'show'}}">
      <span {{action 'close'}} class="nav-back-button {{if isHome 'hide' 'show'}}">
        {{#link-to "stations.index"}}
          <i class="fa fa-angle-left" aria-hidden="true"></i> Stations
        {{/link-to}}
      </span>
      <span {{action 'close'}}>
        {{#link-to "application" class="brand"}}
          <span>Transmitr</span>
        {{/link-to}}
      </span>
    </div>
  </div>
  <div class="panel collapse" aria-expanded="{{if navOpen true false}}">
    <ul class="nav">
      <li>
        <span {{action 'close'}}>
          {{link-to "Station List" "stations"}}
        </span>
      </li>
      <li>
        <span {{action 'close'}}>
          {{link-to "Add Station" "stations.add"}}
        </span>
      </li>
    </ul>
  </div>
</div>